doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
      div(class="this-div")
      h1 hello 
      h1 hii nodemon
      h2 hii boom 
      h1 Hii lodo 
      ul.myclasss
       li kishan
       li mitesh
       li jokes
    block content


